.report{
    border: 1px solid grey;
    background-color: rgb(238, 229, 217);
}
.btnn{
    margin-left: 90%;
}
h3{
   margin-left: 2%; 
}
#d{
    margin-left: 2%;
}
#v{
    margin-left: 2%; 
}